@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Tracker</h1>
    <p class="lead">Add a book your read to the list of your books. Rate it and keep track of everything you read.</p>
    <p class="btn btn-primary btn-lg">Add a book &raquo;</p>
    <p>

    </p>
    <p>Add a book you wish to read to your wishlist.</p>
    <p class="btn btn-primary btn-lg">Add to wishlist &raquo;</p>
</div>